body {
    font-family: Arial, Helvetica, sans-serif;
   background:url(img/background.jpg) no-repeat;
    font-weight: bold;

    }
    
    .player{
      width: 32vw;
      height: 90vh;
      display: flex;
      justify-content:center;
      align-items: center;
      max-width: 80rem;
      margin: auto auto;
  
  }
    .wrapper{
     
      height: 100%;
      width: 100%;
    margin: auto auto;
      border: 1px solid transparent;
      padding: 30px;
      border-radius: 20px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    
    .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }
    
    .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    border:2px solid 	#FFFAFA;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
    }
    
    .now-playing {
    font-size: 1rem;
    }
    
    .track-name {
    font-size: 2.5rem;
    }
    
    .track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
    }
    
    .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    }
    .active{
        color: black;
    }
    
    .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
    }
    
    .repeat-track:hover,
    .random-track:hover,
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
    opacity: 1.0;
    color:#0434a4;
    }
    
    .slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83A9FF;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774FF;
    cursor: grab;
    border-radius: 100%;
    }
    
    .seek_slider:hover,
    .volume_slider:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 60%;
    }
    
    .volume_slider {
    width: 30%;
    }
    
    .current-time,
    .total-duration {
    padding: 10px;
    }
    
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 10px;
    }

    
    i.fa-random,
    i.fa-step-backward,
    i.fa-step-forward,
    i.fa-repeat{
    font-size:35px;
    }
    i.fa-play-circle,
    i.fa-pause-circle{
      font-size:70px;  
    }

    i,
    i.fa-play-circle,
    i.fa-pause-circle,
    i.fa-step-forward,
    i.fa-step-backward,
    p {
    cursor: pointer;
    }
    .randomActive{
        color: black;
    }
    .rotate {
        animation: rotation 8s infinite linear;
    }
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
    }
    .loader {
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .loader .stroke{
        background: #f1f1f1;
        height: 150%;
        width: 10px;
        border-radius: 50px;
        margin: 0 5px;
        animation: animate 1.4s linear infinite;
    }
      @keyframes animate {
        50% {
          height: 20%;
          background: #4286f4;
        }
    
        100% {
          background: #4286f4;
          height: 100%;
        }
      }
      .stroke:nth-child(1){
          animation-delay: 0s;
      }
      .stroke:nth-child(2){
        animation-delay: 0.3s;
    }
    .stroke:nth-child(3){
        animation-delay: 0.6s;
    }
    .stroke:nth-child(4){
        animation-delay: 0.9s;
    }
    .stroke:nth-child(5){
        animation-delay: 0.6s;
    }
    .stroke:nth-child(6){
        animation-delay: 0.3s;
    }
    .stroke:nth-child(7){
        animation-delay: 0s;
    }


    /* media query */

    @media (max-width:1024px){
    .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 15px;
  }
 }


    @media (max-width:768px){
    i.fa-random,
    i.fa-step-backward,
    i.fa-step-forward,
    i.fa-repeat{
    font-size:15px;
    padding:3px;
    }
    i.fa-play-circle,
    i.fa-pause-circle{
      font-size:40px;  
      padding:3px;
    }
    .repeat-track,
    .random-track,
    .prev-track,
    .next-track {
    padding: 10px;
    }
    .playpause-track{
      padding: 10px;
     
    }
    .track-art {
      margin: 25px;
      height: 150px;
      width: 150px
    }
    .track-name {
      font-size: 2rem;
      }
      
    .track-artist {
      margin-top: 3px;
      font-size: 1rem;
      }
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 7px;
    }
  }



  @media (max-width:560px){
    .player{
      height: 60vh;
    }
    i.fa-random,
    i.fa-step-backward,
    i.fa-step-forward,
    i.fa-repeat{
    font-size:10px;
    padding:3px;
    }
    i.fa-play-circle,
    i.fa-pause-circle{
      font-size:35px;  
      padding:3px;
    }
    .repeat-track,
    .random-track,
    .prev-track,
    .next-track,
    .playpause-track {
    padding: 5px;
    }
  
    .track-art {
      margin: 15px;
      height: 100px;
      width: 100px
    }
    .track-name {
      font-size: 1rem;
      }
      
    .track-artist {
      margin-top: 2px;
      font-size: 0.5rem;
      }
      .slider-container{
        font-size: 10px;
      }
      .current-time,.total-duration{
        padding:1px;
        font-size: 10px;
      }
      i.fa-volume-down,
    i.fa-volume-up {
    padding: 5px;
    }
    .now-playing{
      font-size: 10px;
    }
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 5px;
    }
    .stroke{
      height: 700%;
      width: 5px;
      border-radius: 50px;
      margin: 0 3px;
    }
   }


   @media (max-width:320px){
     i.fa-random,
    i.fa-step-backward,
    i.fa-step-forward,
    i.fa-repeat{
    font-size:10px;
   
    }
    i.fa-play-circle,
    i.fa-pause-circle{
      font-size:20px;  
   
    }
    .repeat-track,
    .random-track,
    .prev-track,
    .next-track,
    .playpause-track {
    padding: 3px;
    }
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 3px;
    }
    .stroke{
      height: 70%
    }
   }

